* {
   /*fixed width and height of divs despite paddings*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
     z-index: 1;
}
body{
    background-color: #FAF7F8;
}

.adore{
    cursor: pointer;
    font-family: 'Poiret One', cursive;
    color: #DCE1E3;
}

.glyphicon-heart, .adore{
    cursor: pointer;
}
.heart-filled{
    color: red !important;
}

.glyphicon-heart:hover, .adore:hover{
    color: red !important;
}


