/* when hiding the picture */
.ng-hide-add         { animation:1.9s lightSpeedOut ease; }

/* when showing the picture */
.ng-hide-remove      { animation:1.9s flipInX ease; }

.show-fade{
 -webkit-transition:all linear 0.9s;
  transition:all linear 0.9s;
}


* {
   /*fixed width and height of divs despite paddings*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
body{
/*    background-color: rgba(195, 210, 210, 0.5);*/
    background-color: white;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.eq-row {
    display: table;
}

.eq-row .eq-col {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.imgareaselect-border4,.imgareaselect-border3,.imgareaselect-border2,.imgareaselect-border1, .borderColor1, borderColor2{
    border :1px solid #4DD2FF !important;
}


.adore{
    cursor: pointer;
    font-family: 'Poiret One', cursive;
    color: #DCE1E3;
}

.center{
    position: absolute;
    top: 50%;
    transform: translate(-0%,-50%);
    -webkit-transform: translate(-0%,-50%);
    -moz-transform: translate(-0%,-50%);
    -o-transform: translate(-0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

.centerHorizontally{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    -webkit-transform: translate(-50%, -0%);
    -moz-transform: translate(-50%, -0%);
    -o-transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
}


.commentSub{
    position: relative;
    padding: 3px;
    width: inherit;
    height: 35px;
    line-height: 35px; 
    border: 1px solid #6D7BE8;
}

.equal-height-col{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* boostrap */
.glyphicon-pencil{
   font-size:2.5em;
    cursor: pointer;
}

.glyphicon-heart{
    cursor: pointer;
    top: 35%;
    font-size: 2em;
    z-index: 1000;
}

.heart-filled{
    color: red !important;
}
.heart-unfilled{
    color: #C1C7C9 !important;
}



.glyphicon-chevron-left,.glyphicon-chevron-right{
    font-size: 2.5em;
    position: absolute;
    cursor: pointer;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.glyphicon-chevron-left:hover,.glyphicon-chevron-right:hover{
    text-decoration: none;
}


.sizeOfEditedImage{
    position: relative;
    width: 600px !important;
    max-width: 600px !important;
}

.leftEditedImage{
    left: 50%;
    margin-left: -300px !important;
}

div.cmt{
    padding: 0px 0px 0px 0px;
}
div.cmt:last-child{
    border-bottom: none !important;
}
div.cmt table tr, div.cmt table tr td{
   /* position: relative;
 height: auto;
 width: auto;
 display: block;
 padding: 2px;*/
 border: none !important;
 font-size: 14px;
 margin: 0px;
 padding: 5px;

}
div.cmt tr.left-inner-cmt{
    font-weight: 500;
    color: #5C6291 !important;
}

div.cmt tr.right-inner-cmt{
/*
    padding: 5px;
    background-color: rgba(255,255,255,.3);
    border: 1px solid #F0F0F2;
    background-color: #F5F5FA;
    position: relative;
*/
    /*padding-top: 5åpx;*/
    color: black !important;
    width: 100% !important;
    height: 100%;
}



a.cmt-sub{
    border: 1px solid grey;
    padding: 10px;
    background-color: #F0F1F7;
    display: block;
}

.img-modal{
    position: relative;
    left: 50%;
    transform: translate(-50%,-0%);
    -webkit-transform: translate(-50%,-0%);
    -moz-transform: translate(-50%,-0%);
    -o-transform: translate(-50%,-0%);
    -ms-transform: translate(-50%,-0%);
/*    height: 50%;
    max-height: 50%;*/
    max-height: 100%;
    width: auto;
}

/* bootstrap */
.modal-wide,.modal-dialog{
    width: 80%;
    left: 50%;
    margin-left: -40%;
    overflow-y: auto;
}

/* bootstrap */
.modal-body{
    overflow: hidden; 
    padding:10px; 
    margin-top:0px; 
    top: 0px;
    height:auto;
    width: 100%;
    background-color: #F5F2F2;
}

/* boostrap */
.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}


/* boostrap */
.modal-footer  {
    padding: 20px !important; 
}