/* Phones */
@media (min-width: @screen-xs-min) { ... }

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }



h3{
    color: #EBF0F2;
}

small{
    color: #C0C9CC;
}
textarea{
    background-color: #36363B !important;
    border: 1px solid #DAE1E3 !important;
    width: 100% !important;
    border-radius: none; !important
}
.img-button{
    font-size: 15px;
    width: 90px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    background-color: none;
    cursor: pointer;
}

.see-image{
    color: #EBB0CF;
    border: 1px solid #EBB0CF;
}
.see-image:hover{
    color: #6F9DDE;
    border: 1px solid #6F9DDE;
}

.border-bottom{
    border-bottom: 1px solid #DAE1E3;
}
.center-list{
    position:  absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    padding: 0px;
    margin: 0px;
    width: auto
    height: auto;
}
.center-list li{
    display: inline-block;
    margin-left:0px;
    padding-left:0px;
}

.center-list li:nth-child(1){
    margin-bottom: 15px;
    height: auto;
    list-style-image: url('../images/icons/heart.png') !important;
    list-style-position: inside;
}
.center-list li p{
    text-align: right; 
    display:inline-block;
    padding: 0;
}

.glyphicon-heart{
    position:  relative;
    left: 50%;
    transform: translate(-50%,-0%);
    -webkit-transform: translate(-50%,-0%);
    -moz-transform: translate(-50%,-0%);
    -o-transform: translate(-50%,-0%);
    -ms-transform: translate(-50%,-0%);
}
.heart{
    padding: 0; 
}

.image-panel{
    background-color: black;
    padding: 0px 20px 0px 20px;
    z-index: 1;
    margin-bottom: 100px;
    overflow: hidden;
}
.left-panel{
/*    background-color: rgba(255,255,255,.2);*/
    min-height: 300px;
}



.image-panel{ min-height: 300px; overflow: hidden;}

.img-block{
    border: 1px solid #DAE1E3;
    height: 200px;
/*    width: 25%;*/
    overflow: hidden;
}

.img-block img{
    position:  absolute;
    display: block;
/*    margin-left: -60px;*/
    z-index: 1;
    left: 50%;
    transform: translate(-50%,-0%);
    -webkit-transform: translate(-50%,-0%);
    -moz-transform: translate(-50%,-0%);
    -o-transform: translate(-50%,-0%);
    -ms-transform: translate(-50%,-0%);
}
/*

.img-block img:hover { opacity: .5; -webkit-filter: grayscale(100%) sepia(100%); }
*/

.info{
    display: block;
    color: #A1B8BF;
    padding-bottom: 20px;
}
.right-panel{
    background-color: #27272E;
/*
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
*/
    border: 1px solid #52525C;
/*
    position: fixed;
    top: 50%;
    left: 100%;
    transform: translate(-100%,-50%);
    -webkit-transform: translate(-100%,-50%);
    -moz-transform: translate(-100%,-50%);
    -o-transform: translate(-100%,-50%);
    -ms-transform: translate(-100%,-50%);
*/
}




span.text-content {
  background: rgba(0,0,0,0.7);
  color: white;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
    height: 100%;
    z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.img-block:hover span.text-content {
  opacity: 1;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}