/* center menu items */
ul#menu {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-20%);
    -webkit-transform: translate(-50%,-20%);
    -moz-transform: translate(-50%,-20%);
    -o-transform: translate(-50%,-20%);
    -ms-transform: translate(-50%,-20%);
}

.navbar-inverse{
    background-color: rgba(0, 0, 0, 0.8) !important;   
    background-image: none;
    background-repeat: no-repeat;
}

li{
    font-family: 'Raleway', sans-serif !important;
    font-weight: 300;
}

ul#menu li:hover {
    border-bottom: 2px solid white;
    height: 100%;
}

.navbar-collapse.collapse.off {
    display: block!important;
}
.navbar-collapse.collapse.off ul {
    margin: 0;
    padding: 0;
}

.navbar-nav.no-collapse>li,
.navbar-nav.no-collapse {
    float: left !important;
}

.navbar-right.no-collapse {
    float: right!important;
}