/* Carousel */
@media screen and (min-width: 100px) {
    .carousel_img{
        width: 100%;   
    }
}

.carousel{
    z-index: 1;   
}

.cow{
    max-height: auto;
    max-width: 100%;
}

.sm-font{
    font-size: small;   
}

.badge{
    background-color: #3E869E;   
}

.glyphicon-menu-left .glyphicon-menu-right{
    margin-top: 100px;
    position: relative;
}