/* Carousel */
@media screen and (min-width: 100px) {
    .carousel_img{
        width: 100%;
    }
}

/* area of top popular outfit*/
#top_area{
    margin-bottom: 40px !important;
}

/* pictures in the top area*/
.top_pic{
    width: 24%;
    margin-top: 4px;
}
.btn-default{
    color: black;
    width: 100%;
    border-radius: 0;
    position: inherit;
    padding-bottom: 8px;
    padding-top: 8px;
}

.btn-default:focus, 
.btn-default:active, 
.btn-default:hover, 
.btn-default.active, 
.btn-default.active, 
.open > .dropdown-toggle.btn-default{
}

.btn-default:active:focus{
}

.badge{
    background-color: #3E869E;   
}

.glyphicon-menu-left .glyphicon-menu-right{
    position: relative;
    top: 50%;
}

#carouselButtons {
    top: 50%;
}
.btn-lg{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    width: 70%;
    border-radius: 0;
    position: inherit;
    border: none;
}

.btn-lg:focus, 
.btn-lg:active, 
.btn-lg:hover, 
.btn-lg.active, 
.btn-lg.active, 
.open > .dropdown-toggle.btn-lg{
    background: rgba(0, 0, 0, 0.85);
    color: white;
    box-shadow: none;
    outline: 0 none;
}

.btn-lg:active:focus{
    background: black;
    color: white;
    box-shadow: none;
    outline: 0 none;
}
/*
.carousel-caption{
    background-color: rgba(180, 180, 180, 0.8);
    width: 35%;
    height: auto;
    margin-left: -10%;
    margin-bottom: 3%;
    padding: 25px;
    overflow: auto;
    color: black;
    text-decoration: none;
    text-shadow: none;
}
*/

.carousel-caption-intro{
    position: fixed;
    display: block;
    background-color: rgba(0,0,0,0.7);
    border: 0;
    /* Ensure div is a square */
    height: 0;
    width: 35vw;
    padding-left:;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30%;
    z-index: 2;
    /* fix item to be in the absolute middle of viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: none;
}
.block-content{
    text-align: center;
    display: block;
    position: fixed;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.carousel-caption-intro h2{
    margin-left: 40px;
    margin-right: 40px;
}


#intro-img{
    opacity: 0;
}

/* ============================ */
/* ========== FOOTER ========== */
/* ============================ */
/* keep footer fixed to bottom */

.footer{
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
}

.white-font{
    color: rgba(255, 255, 255, 0.6);   
    margin-top: 10px;
}

.white-font h4{
    margin-bottom: 15px !important;
}

.white-font p{
    font-size: small;
    margin-top: -5px;
}
/* customize links in footer*/
.white-font h4 a:link, a:visited{
/*    color: rgba(255, 255, 255, 0.6);*/
    text-decoration: none;
}
.white-font h4 a:hover, a:active{
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

/* vertical line */
.hr-v{
    background-color: rgba(255, 255, 255, 0.6);
    width: 1px;
    display: inline-block;
    cursor: pointer;
}

/* ============================ */
/* ======== END FOOTER ======== */
/* ============================ */

/* when screen is 450px or narrower */
@media only screen and (max-width: 450px){
    .carousel-caption-intro{
        width: 45%;
        padding-bottom: 35%;
    }
}

/* disable vertical line when screen becomes small*/
@media screen and (max-width: 768px) {
    .carousel-caption-intro h2{
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .hr-v{
        display: none; 
    }
    .hr-h{
        display: block;
    }
    /* Carousol */
    #slider-top{
        margin-top: 27px;   
    }
    .title{
        color: #545454;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 25px;
    }
    .btn-default{
        color: black;
        width: 30%;
        border-radius: 0;
        position: inherit;
        padding-bottom: 8px;
        padding-top: 8px;
    }
    #logo{
        height: 130px;
        margin-top: 15px;
    }
}

/* disable horizontal line when screen is large */
@media screen and (min-width: 768px) {
    .hr-h{
        display: none;   
    }
    
    .white-font{
        margin-left: -45px;   
    }
    
    .hr-v{
        height: 160px;
    }
    #slider-top{
        margin-top: 20px;   
    }
    .title{
/*        color: rgba(255, 255, 255, 0.5);   */
        color: #545454;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 30px;
    }
    #logo{
        height: 130px;
        margin-top: 15px;
        margin-left: 15px;
    }
}

@media screen and (min-width: 992px) {
    .hr-v{
        height: 125px;
    }
    
}
