<div>       
    <section id="photos" ng-show="showAllPhotos">
        <div class="image" ng-repeat="img in images" class="blur" id="[[img.img_id]]Block">
            <figure class="img-cover">
                <img img_id="[[img.img_id]]" src="[[img.image_url]]">
                <figcaption class="img-text">
                    <div style="margin-top: 40px;">
                        <!-- adored : click event in 'gallery.js' attached to 'ng-click' -->
                        <p style="height: auto;color:white; font-size: 20px;"> [[img.total_likes]]</p>
                        {% if user %}
                            
                            <span class="view-image" ng-click="deletePic($event,[[img.img_id]])">Delete</span>
                            
                            <span class="glyphicon glyphicon-heart heart-filled" ng-if="img.adored" ng-click="handleLike($event,[[img.img_id]])"></span>
                            <span class="glyphicon glyphicon-heart heart-unfilled" ng-if="!img.adored" ng-click="handleLike($event,[[img.img_id]])"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-heart heart-filled" ng-if="img.adored"></span>
                            <span class="glyphicon glyphicon-heart heart-unfilled" ng-if="!img.adored"></span>
                        {% endif %}
                        <!-- end adored -->
                        <span class="view-image" data-toggle="modal" data-target="#Modal[[img.img_id]]">View</span>

                              
                        <form action="/editItems" method="post" ng-if="img.profilePage">
                            <input id="imgURL" name="imgURL" type="hidden" value="[[img.image_url]]">
                            <input id="imgID" name="imgID" type="hidden" value="[[img.img_id]]">
                            <input class="view-image" type="submit" value="Edit Fashion Item">
                        </form>

                        <form action="/setProfilePic" method="post" ng-if="img.profilePage">
                            <input id="imgURL" name="imgURL" type="hidden" value="[[img.image_url]]">
                            <input id="imgID" name="imgID" type="hidden" value="[[img.img_id]]">
                            <input class="view-image" type="submit" value="Set As Profile Pic">
                        </form>

                        <input class="view-image" type="button" value="See Clothing Items" ng-click="loadClothingPanel($event, img.img_id, img.image_url)" ng-if="img.galleryPage">
                                     
                        
                    </div>
                </figcaption>
            </figure>
        </div>
        
        {% include 'imgModal.html' %}
    </section>

    <!-- hide border -->
    <style>
        .imgareaselect-border4,.imgareaselect-border3,.imgareaselect-border2,.imgareaselect-border1{
            border: 1px solid white;
            background: none !important;
        }
    </style>

    <div class="row center show-fade" id="photo" ng-show="!showAllPhotos" style=" margin-top: 20px; width: 100%;">
        <div class="col-sm-12">
            <h3 style="cursor: pointer;">
                <a ng-click="showGallery()">Back</a>
            </h3>
        </div>
        <div class="col-sm-12"> 
            <div class="centerHorizontally sizeOfEditedImage" style="position:absolute;">
                <span id="itemPopUp"></span>
                <img class="sizeOfEditedImage" id="itemPhoto"  src="[[select_image_url]]">
            </div>
        </div>
    </div>

<!--     <section id="photo" ng-show="!showAllPhotos" style="margin-top: 30px; width: 90%; border: 1px solid yellow;">

        <img class="img-responsive center" style="position: relative; display: block" img_id="[[img.img_id]]" src="[[select_image_url]]">
    </section> -->

</div>
<!-- 
    <div class="image">
        <img width="300" height="285" id="image" src="http://localhost:8080/_ah/img/PRKAHVRJ7BEO3MxMxHm-Cw==" img_id="5348024557502464">
    </div> -->

