    <section id="photos" ng-controller="imgCtrl" style="margin-top: 20px;">
        <div class="image" ng-repeat="img in images" class="blur" >
            <figure class="img-cover">
                <img img_id="[[img.img_id]]" src="[[img.image_url]]">
                <figcaption class="img-text">
                    <div class="ctr-img-text">
                        <!-- adored : click event in 'gallery.js' attached to 'ng-click' -->
                        <p style="height: auto;color:white; font-size: 25px;"> [[img.total_likes]]</p>
                        {% if user %}
                        <span class="glyphicon glyphicon-heart heart-filled" ng-if="img.adored" ng-click="handleLike($event,[[img.img_id]])"></span>
                        {% endif %}
                        <span class="glyphicon glyphicon-heart heart-unfilled" ng-if="!img.adored" ng-click="handleLike($event,[[img.img_id]])"></span>
                        <!-- end adored -->
                        <span class="view-image" data-toggle="modal" data-target="#Modal[[img.img_id]]">View</span>
                    </div>
                </figcaption>
            </figure>
        </div>
        
        {% include 'imgModal.html' %}
    </section>