
<style>
.glyphicon-share-alt{
    min-width: 40px;
    width: 40px;
}
.hoverText{
    color:white;
    font-size:14px;
/*    line-height:16px;*/
    background: none;
    border: 0px solid;
    box-shadow: none;
    padding: 0px 10px 0px 10px;
    margin: 0px;
    white-space: nowrap;
    width: 150px !important;
    height: 30px;
    line-height: 30px;
    text-align: left;
    left:0px;
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: .9em;
}
table.imgTable td, table.imgTable tr{
    margin: 0px;
    height: auto;
    width: auto;
  /*  width: 40px;*/
   /* padding: 5px;*/
}

/*table.imgTable tr td:nth-child(1){
    width: 50px !important;
}*/

table.imgTable{
    width: 100%;
}
table.imgTable tr{
   
    /*width: 100px !important;*/
}


#photos table.imgTable tr:hover{
    cursor: pointer;
}
#photos table.imgTable tr.no-hover:hover{
    cursor: none;
}

#photos table.imgTable tr:hover td{
    background-color: rgba(255,255,255,.6);

}

#photos table.imgTable tr.no-hover:hover td{
    background-color: transparent;
}

#photos table.imgTable tr.:hover span{
    color: #373B4D;
}
</style>



    <section id="photos" ng-show="showAllPhotos">
        <div class="image" style="z-index: 0;" ng-repeat="img in images| filter: selected"  class="blur" id="[[img.img_id]]Block">
            <figure class="img-cover">
                <img img_id="[[img.img_id]]" src="[[img.image_url]]">
                <figcaption class="img-text">
                    <div style="margin-top: 10px;" class="centerHorizontally">
                    <!--   <form name="proPicForm" action="/setProfilePic" method="post" ng-if="img.profilePage">-->
                     <form id="editForm2" name="editForm2" action="/editItems" method="post">
                        <table class="imgTable">
                             <tr class="no-hover" style="width:100%; padding:0px; ">
                                <td colspan="2" style="padding:0px;margin:0px;">
                                    {% if user %}
                                        <span  class="glyphicon glyphicon-heart heart-filled" ng-if="img.adored" ng-click="handleLike($event,[[img.img_id]])"></span>
                                        <span class="glyphicon glyphicon-heart heart-unfilled" ng-if="!img.adored" ng-click="handleLike($event,[[img.img_id]])"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-heart heart-filled" ng-if="img.adored"></span>
                                        <span class="glyphicon glyphicon-heart heart-unfilled" ng-if="!img.adored"></span>
                                    {% endif %}
                                     <p style="color:white;font-size:14px;line-height:14px;margin-top:1px;height: 14px;">[[img.total_likes]]</p>
                                </td>
                            </tr>
                             {% if deleteOption %}
                            <tr ng-if="img.profilePage">
                                <td>
                                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true" style="font-size: 1.2em;color:white"></span>
                                </td>
                                <td>
                                    <span class="hoverText" style="cursor:pointer" ng-click="deletePic($event,[[img.img_id]])">Delete</span>
                                </td>
                            </tr>
                             {% endif %}
                             {% if user %}
                            <tr>
                               <!--  <form action="/editItems" method="post" ng-if="img.profilePage"> -->
                                <td>
                                    
                                    <input id="imgURL" name="imgURL" type="hidden" value="[[img.image_url]]">
                                    <input id="imgID" name="imgID" type="hidden" value="[[img.img_id]]">
                                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true" style="font-size: 1.2em;color:white"></span>
                                </td>
                                <td>
                                    <span onclick="document.getElementById('editForm2').submit()" class="hoverText">Edit Fashion </span>
                                </td>
                             <!--    </form> -->
                            </tr>
                            {% endif %}
                    </table>
                    </form>
                    <form id="proPicForm2" name="proPicForm2" action="/setProfilePic" method="post">
                        <table class="imgTable">
                            <tr>
                                <td>
                                    
                                    <input id="imgURL" name="imgURL" type="hidden" value="[[img.image_url]]">
                                    <input id="imgID" name="imgID" type="hidden" value="[[img.img_id]]">
                                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true" style="font-size: 1.2em;color:white"></span>
                                </td>
                                <td>
                                      <span onclick="document.getElementById('proPicForm2').submit()" class="hoverText">Set ProPic</span>
                                </td>
                              
                            </tr>
                         <!--      </form> -->
                            <tr ng-show="img.galleryPage">
                                <td>
                                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true" style="font-size: 1.2em;color:white"></span>
                                </td>
                                <td>
                                    <span class="hoverText" type="button" ng-click="loadClothingPanel($event, img.img_id, img.image_url)">See Clothing</span>
                                </td>
                            </tr>

                                         
                        </table>
                    </form>
                        
                    </div>
                </figcaption>
            </figure>
        </div>
        
        {% include 'imgModal.html' %}
    </section>

    <!-- hide border -->
    <style>
        .imgareaselect-border4,.imgareaselect-border3,.imgareaselect-border2,.imgareaselect-border1{
            border: 1px solid white;
            background: none !important;
        }

        .clothes-col{
            background-color:#464d4f;
            width: 280px; 
            height: 100%;
            position:fixed;
            left: 100%;
            margin-left: -280px;
        }
    </style>

    <script>
    // set height of image column in table.table-clothes
        $(document).ready(function(){
            var width = $('#galleryRow').width();
            var fixedWidthCol = 280;

            var newWidth = width- fixedWidthCol;
            $('#singleImageCol').width(newWidth);
        });
    </script>

    <div class="row  show-fade" id="photo" ng-show="!showAllPhotos" style="width: inherit; height:inherit; margin:0px !important;padding: 0px !important;">

        <table class="table clothingOuterTable" style="margin:0px;padding:0px">
            <tr>
                <td id="singleImageCol">
                    <h3 style="cursor: pointer;">
                        <a ng-click="showGallery()">Back</a>
                    </h3>
                    <div class="sizeOfEditedImage leftEditedImage">
                        <span id="itemPopUp"></span>
                        <img class="sizeOfEditedImage" id="itemPhoto"  src="[[select_image_url]]">
                    </div>
                 <!--    </div> -->
                </td>
                <td class="clothes-col">
                   <table class="table table-clothes">
                        <tr>
                            <th>Clothing</th>
                            <th>Brand</th>
                            <th>Price</th>
                        </tr>
                        <tr class="item-row" ng-click="viewItem($event)" ng-repeat="item in items" data-x1="[[item.x1]]" data-x2="[[item.x2]]" data-y1="[[item.y1]]" data-y2="[[item.y2]]" data-title="[[item.title]]">
                            <td>[[item.clothingType]]</td>
                            <td>[[item.brand]]</td>
                            <td>$[[item.price]]</td>
                        </tr>
                    </table>        
                </td>
            </tr>
        </table>


    </div>



