{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="/static/style/gallery.css">
{% endblock %}


{% block js %}
	<script src="/js/gallery.js"></script>

    <!-- store photo json data -->
    <script type="text/javascript">
        var photos = {{photos_json|safe}};
        var adore = photos[0].adored;
        //alert(adore);
      //  alert(JSON.stringify(photos[0], null, 2));
 
            
    </script>
{% endblock %}


{% block content %}
<div class="row image-panel">
    <div class="col-xs-12 col-sm-8 col-md-8 left-panel">
    {% for photo in photos %} 
        <div class="col-xs-12 col-sm-4 col-md-3 img-block">
            <img img_id="{{photo.img_id}}" src="{{photo.image_url}}">
            <span class="text-content">
                <span>
                    <div class="center-list">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="center-list">
                                {% if photo.likedByYou %}
                                    <span class="glyphicon glyphicon-heart heart-filled"></span>
                                {% else %}
                                    <p class="adore" data-id="{{photo.img_id}}">Adore</p>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:25px">
                            <div class="col-sm-12">
                                <span class="img-button see-image" data-toggle="modal" data-target="#Modal{{photo.img_id}}">View</span>
                            </div>
                        </div>
                    </div>
                </span>
            </span>
        </div>  
    {% endfor %}
    </div>
    <div class="hidden-xs col-sm-4 col-md-4 right-panel">
          <div class="row">
            <div class="col-sm-6">
                <h3 class="photo-title">The Look<br><small class="photo-time">9/10/2 6PM</small></h3>
            </div>
              
            <!-- Can only upload an image if logged in. !-->
            {% if user_id %}
            <div class = "col-sm-6">
              <h3><a href = "#uploadImage">Upload Image</a></h3>
              </div>
            {% endif %}
          </div>
            
        <div class="row">
            <div class="col-sm-4">
                <h4 class="brandListings">Brand<br></h4>
                <tr>
                    {% for brand in brands %}
                        <td><a href = "/gallery?brand={{brand}}">{{brand}}</a></td>
                        <br>
                    {% endfor %}
                    <td><a href = "/gallery">Any</a></td><br>
                </tr>
            </div>
            
            <div class="col-sm-4">
                <h4 class="typeListings">Type<br></h4>
                <tr>
                    {% for type in types %}
                        <td><a href = "/gallery?clothingType={{type}}">{{type}}</a></td>
                        <br>
                    {% endfor %}
                    <td><a href = "/gallery">Any</a></td><br>
                </tr>
            </div>
            
            <div class="col-sm-4">
                <h4 class="priceListings">Price<br></h4>
                <tr>
                    {% for price in priceOptions %}
                        <td><a href = "/gallery?maxPrice={{price}}">{{price}}</a></td>
                        <br>
                    {% endfor %}
                    <td><a href = "/gallery">Any</a></td><br>
                </tr>
            </div>
            
          </div>
        
        <br> 
        
    <!--
        <div class="row border-bottom">
            <div class="col-sm-12">
               <span class="info">                   
                   <table class="table table-hover table-clothes">
                        <tr>
                            <td>Shirt</td>
                            <td><a href = "/gallery?brand=h&m">H&#38;M</a></td>
                            <td><a href = "/gallery?maxPrice=50">$50</a></td>
                        </tr>
                        <tr>
                            <td>Jeans</td>
                            <td><a href = "/gallery?brand=forever21">Forever 21</a></td>
                            <td><a href = "/gallery?maxPrice=100">$100</a></td>
                        </tr>
                        <tr>
                            <td>Shoes</td>
                            <td><a href = "/gallery?brand=gap">Gap</a></td>
                            <td><a href = "/gallery?maxPrice=500">$500</a></td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td><a href = "/gallery?brand=other">Other Brands</a></td>
                            <td><a href = "/gallery?maxPrice=1000">$1000</a></td>
                        </tr>
                    </table>
                </span>
            </div>
        </div> 
    !-->
        
        <br>
        <div class="row">
            <div class="col-sm-12">
                <br>
                <form class="form-inline">
<!--                    <textarea class="form-control" rows="3" placeholder="Comment here"></textarea><br><br>-->
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Image Modal -->
{% for photo in photos %}
<div class="modal fade modal-wide" id="Modal{{photo.img_id}}" tabindex="-1" role="dialog" aria-labelledby="Modal{{photo.img_id}}Label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{photo.title}}</h4>
      </div>
      <div class="modal-body">
         <div class="row equal-height-col">
            <div class="col-sm-1">
                <a class="glyphicon glyphicon-chevron-left"></a> 
            </div>
            <div class="col-sm-10">
                <img class="img-modal" src="{{photo.image_url}}">
            </div>
            <div class="col-sm-1">
                <a class="glyphicon glyphicon-chevron-right"></a> 
            </div>
         </div>
          <br>
          <!-- Can only like/unlike if logged in. !-->
          <div class="col-sm-6">
            {% if user_id %}
                <br>
                {% if photo.likedByYou %}
                    <a href = "/unlike?likeID={{photo.yourLikeID}}">Unlike</a>
                    <br>
                {% else %}
                    <a href = "/addLike?photo_id={{photo.img_id}}&user_id={{user_id}}">Like</a>
                    <br>
                {% endif %}
              {% else %}
                <br>
              {% endif %}
              Total Likes: {{photo.total}}
                <br>Uploaded by: {{photo.uploadedBy}}
                <br>
            </div>
          <div class="col-sm-6">
             
          <br>  Price Range: {{photo.priceRange}}
          <br>  Brand: {{photo.brand}}
          <br>  Type of Clothing: {{photo.clothingType}}
          </div>
          
      </div>
        
      <div class="modal-footer">
          
        <!-- Can only comment if logged in. !-->
        {% if user_id %}
          <form method="post" enctype="multipart/form-data" action="/comment?image_id={{photo.img_id}}" id="form-comment">
          <div class="row cmt">
            <div class="col-sm-1"></div>
            <div class="col-sm-2 left-inner-cmt">
                <a onclick="document.getElementById('form-comment').submit();" 
                     class="glyphicon glyphicon-pencil"></a>  
            </div> 
            <div class="col-sm-8" style="padding:0px;">
                <input type="text" name="comment" class="commentSub" 
                       placeholder="Compliment here">  
            </div>
            <div class="col-sm-1"></div>
          </div>
          </form>
        {% endif %}
          <hr>
          
         
          {% for comment in photo.comments %}
          <div class="row cmt">
            <div class="col-sm-1"></div>
            <div class="col-sm-2 left-inner-cmt">
                <br>  
                {{comment.time_created}}
            </div>
            <div class="col-sm-8 right-inner-cmt">
                {{comment.text}}
                <br>
                <!-- Can only delete comment if you are logged in, and it's yours. !-->
                {% if user_id %}
                    {% if comment.yours %}
                    <!-- You wrote this comment! Option to delete.!-->
                        <form method="post" enctype="multipart/form-data" action="/deleteComment?commentID={{comment.commentID}}">
                            <input type="submit" value="Delete">
                        </form>
                    {% endif %}
                {% endif %}
            </div>
            Comment by {{comment.uploadedBy}}
            <div class="col-sm-1"></div>
         </div>
          {% endfor %}
          

          
          
<!--
          <div class="row">
              <form method="post" enctype="multipart/form-data" action="">
                  <div class="col-sm-9">
                      <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Compliment">
                      </div>
                  </div>
                  <div class="col-sm-2">              
                      <div class="form-group">
                        <input class="btn btn-default" type="submit" value="Comment">
                          <button type="submit" class="btn btn-default">Compliment</button>
                      </div>
                  </div>
              </form>
              <div class="col-sm-1"></div>
          </div>
-->
<!--
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
-->
      </div>
    </div>
  </div>
</div>
{% endfor %}



<!-- Can only upload an image/see the upload menu if logged in. !-->
{% if user_id %}
<div class="row" id="uploadImage">
    <h2>Image Upload</h2> <br>
    <form method="post" enctype="multipart/form-data" action="{{upload_url}}">
        
        Picture Title:<br>
        <input name="title" type="text"><br><br>
        
        Price Range: <br>
        <select name="priceRange">
            {% for priceOption in priceOptions %}
                <option value="{{priceOption}}">{{priceOption}}</option>
            {% endfor %}
        </select>
        <br><br>
        
        Type of Clothing: <br>
        <select name="clothingType">
            {% for type in types %}
                <option value="{{type}}">{{type}}</option>
            {% endfor %}
        </select>
        <br><br>
        
        Brand: <br>
        <select name="brand">
            {% for brand in brands %}
                <option value="{{brand}}">{{brand}}</option>
            {% endfor %}
        </select>
        <br><br>
        
        File:<br>
        <input name="file" type="file"><br><br><br>
        <input type="submit">
        
    </form>
</div>
{% endif %}

<br>

<!-- Debugging page to see the contents of the database. !-->
<div class="row">
    <a href="/getCommentsTest">NDB Contents</a>
    
</div>
<br><br><br><br><br>
<!--    </div>-->
<!--
    <div class="col-sm-12 col-sm-2 col-md-4 right-panel">
        <div class="row">
            <div class="col-sm-12">
                <h3>The Classy Girl</h3>
                <small>Katie Chung</small>
            </div>
        </div>
        <br> 
        <div class="row border-bottom">
            <div class="col-sm-12">
               <span class="info">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue ex ut lectus convallis gravida. Sed in egestas urna, a consequat nunc. Vestibulum a mollis urna, et consectetur turpis. Cras dolor augue, porttitor non aliquam sit amet, tempor eu eros. Quisque turpis neque, congue et viverra vel, faucibus in orci. Nam mattis massa vitae maximus finibus. Maecenas vitae iaculis purus, sed ultricies felis. Maecenas aliquet ut libero et lacinia. Sed ut pretium lorem. Nunc pellentesque magna massa, eu hendrerit turpis pharetra nec. 
                </span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <br>
                <form class="form-inline">
                    <textarea class="form-control" rows="3" placeholder="Comment here"></textarea><br><br>
                </form>
            </div>
        </div>
    </div>
-->


	
{% endblock %}

