
{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="/static/style/gallery.css">
{% endblock %}


{% block js %}
    <script type="text/javascript" src="../js/gallery.js"></script>
{% endblock %}


{% block content %}
<!--
    <div id="photos" style="width:100%;" ng-controller="imgCtrl">
        <img src="[[img.image_url]]" alt="image" >
    </div>
-->

    <div id="photos" ng-controller="imgCtrl">
        <div class="image img-block" ng-repeat="img in images">
            <img img_id="[[img.img_id]]" src="[[img.image_url]]">
            <span class="text-content">
                <span>
                    <div class="center-list">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="center-list">
                                    <span ng-if="[[img.adored]]" class="glyphicon glyphicon-heart heart-filled"></span>
                                    <!-- javascript click event attached to class="adore" in base.js-->
                                    <p ng-if="![[img.adored]]" class="adore" data-id="{{photo.img_id}}">Adore</p>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:25px">
                            <div class="col-sm-12">
                                <span class="img-button see-image" data-toggle="modal" data-target="#Modal[[img.img_id]]">View</span>
                            </div>
                        </div>
                    </div>
                </span>
            </span>
        </div>
    </div>




    <form method="post" enctype="multipart/form-data" action="{{upload_url}}">
        
        Picture Title:<br>
        <input name="title" type="text"><br><br>
        
        Price Range: <br>
        <select name="priceRange">
            {% for priceOption in priceOptions %}
                <option value="{{priceOption}}">{{priceOption}}</option>
            {% endfor %}
        </select>
        <br><br>
        
        Type of Clothing: <br>
        <select name="clothingType">
            {% for type in types %}
                <option value="{{type}}">{{type}}</option>
            {% endfor %}
        </select>
        <br><br>
        
        Brand: <br>
        <select name="brand">
            {% for brand in brands %}
                <option value="{{brand}}">{{brand}}</option>
            {% endfor %}
        </select>
        <br><br>
        
        File:<br>
        <input name="file" type="file"><br><br><br>
        <input type="submit">
        
    </form>
{% endblock %}