
{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="/static/style/gallery.css">
{% endblock %}


{% block js %}
    <script type="text/javascript" src="../js/gallery.js"></script>
{% endblock %}


{% block content %}

	<div class="row" id="galleryRow" style="margin:0px;padding: 0px; width: inherit; height:inherit; margin-bottom: -40px;" >
		<div class="col-xs-12 col-sm-12" style="margin:0px;padding:0px;">
    		{% include "galleryPiece.html" %}
    	</div>
    	<!-- <div class="col-xs-12 col-sm-3 right-panel" style="position:fixed">
            <div class="row">
                <div class="col-sm-12">
                   <span class="info">                   
                       <table class="table table-clothes" ng-show="!showAllPhotos">
                            <tr>
                                <th>Clothing</th>
                                <th>Brand</th>
                                <th>Price</th>
                            </tr>
                            <tr class="item-row" ng-click="viewItem($event)" ng-repeat="item in items" data-x1="[[item.x1]]" data-x2="[[item.x2]]" data-y1="[[item.y1]]" data-y2="[[item.y2]]" data-title="[[item.title]]">
                                <td>[[item.clothingType]]</td>
                                <td>[[item.brand]]</td>
                                <td>$[[item.price]]</td>
                            </tr>
                        </table>
                        <br>
                        <p ng-show="showAllPhotos">Hover over an image and click 'See Clothing Items' to view this outfit</p>
                    </span>
                </div>
            </div> 
    	</div> -->
    </div>


    <br>
    <br>

{% endblock %}