{% extends "base.html" %}
{% block css %}
	<link rel="stylesheet" href="/static/style/index.css">
{% endblock %}
{% block js %}
	<script src="/static/js/gallery.js"></script>
{% endblock %}

{% block content %}

	<div class = "row">
		<div class='col-md-12'>
			<h1>Welcome to the gallery!</h1>
		</div>
	</div>
	<br>
	
	<div class = "row">
		<div class='col-md-6' text-align:center>
			<h4>This page's master:</h3>
		</div>
		<div class='col-md-6' text-align:center>
			<h4>The master of this page's master:</h3>
		</div>
	</div>
	
	
	<div class = "row">
		<div class='col-md-6'>
			<img src = "/static/images/{{photo_name}}" id = "turtle" width = 480px height = 360px>
		</div>
		<div class='col-md-6'>
		<img src = "/static/images/{{cow}}" width = 480px height = 360px>
		</div>
	</div>
	<div class = "row">
		<div class='col-md-6'>
		<button>Like</button> #turtle #beach
		</div>
		<div class='col-md-6'>
		<button>Like</button> #cow #moo #beef 
		</div>
	</div>
	
	<br><br>
	
	<div class = "row">
		<div class='col-md-6' text-align:center>
			<h4>Friendly Cats:</h3>
		</div>
		<div class='col-md-6' text-align:center>
			<h4>Sibling Cats:</h3>
		</div>
	</div>
	
	

	<div class = "row">
		<div class='col-md-6'>
			<img src = "/static/images/twoCats.jpg" id = "duck" width = 480px height = 360px>
		</div>
		<div class='col-md-6'>
		<img src = "/static/images/blackCats.jpg" width = 480px height = 360px>
		</div>
	</div>
	<div class = "row">
		<div class='col-md-6'>
		<button>Like</button> #cats #friends #asleep
		</div>
		<div class='col-md-6'>
		<button>Like</button> #cats #siblings
		</div>
	</div>
	
	<br> 
	<br>
	
	

{% endblock %}

