
    <div ng-init="loadOption()" ng-show="showCategoryDrop && showAllPhotos" style="margin-top: 15px;">
        <form class="form-inline" style="margin-left: 10px">
            <label>Filter:</label>
            <select class="form-control" ng-model="selected" ng-options="c for c in categories | orderBy">
                <option value="" selected>--- default ---</option>
            </select>
        </form>
    </div>
    <section id="photos" ng-show="showAllPhotos">
        <div class="image" ng-repeat="img in images| filter: selected" class="blur" id="[[img.img_id]]Block">
            <figure class="img-cover">
                <img img_id="[[img.img_id]]" src="[[img.image_url]]">
                <figcaption class="img-text">
                    <div style="margin-top: 40px;">
                        <!-- adored : click event in 'gallery.js' attached to 'ng-click' -->
                        <p style="height: auto;color:white; font-size: 20px;"> [[img.total_likes]]</p>
                        {% if user %}
                            {% if deleteOption %}
                            <span class="view-image" ng-click="deletePic($event,[[img.img_id]])">Delete</span>
                            {% endif %}
                            <span class="glyphicon glyphicon-heart heart-filled" ng-if="img.adored" ng-click="handleLike($event,[[img.img_id]])"></span>
                            <span class="glyphicon glyphicon-heart heart-unfilled" ng-if="!img.adored" ng-click="handleLike($event,[[img.img_id]])"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-heart heart-filled" ng-if="img.adored"></span>
                            <span class="glyphicon glyphicon-heart heart-unfilled" ng-if="!img.adored"></span>
                        {% endif %}
                        <!-- end adored -->
                        <span class="view-image" data-toggle="modal" data-target="#Modal[[img.img_id]]">View</span>

                              
                        <form action="/editItems" method="post" ng-if="img.profilePage">
                            <input id="imgURL" name="imgURL" type="hidden" value="[[img.image_url]]">
                            <input id="imgID" name="imgID" type="hidden" value="[[img.img_id]]">
                            <input class="view-image" type="submit" value="Edit Fashion Item">
                        </form>

                        <form action="/setProfilePic" method="post" ng-if="img.profilePage">
                            <input id="imgURL" name="imgURL" type="hidden" value="[[img.image_url]]">
                            <input id="imgID" name="imgID" type="hidden" value="[[img.img_id]]">
                            <input class="view-image" type="submit" value="Set As Profile Pic">
                        </form>

                        <input class="view-image" type="button" value="See Clothing Items" ng-click="loadClothingPanel($event, img.img_id, img.image_url)" ng-if="img.galleryPage">
                                     
                        
                    </div>
                </figcaption>
            </figure>
        </div>
        
        {% include 'imgModal.html' %}
    </section>

    <!-- hide border -->
    <style>
        .imgareaselect-border4,.imgareaselect-border3,.imgareaselect-border2,.imgareaselect-border1{
            border: 1px solid white;
            background: none !important;
        }

        .clothes-col{
            background-color:#464d4f;
            width: 280px; 
            height: 100%;
            position:fixed;
            left: 100%;
            margin-left: -280px;
        }
    </style>

    <script>
    // set height of image column in table.table-clothes
        $(document).ready(function(){
            var width = $('#galleryRow').width();
            var fixedWidthCol = 280;

            var newWidth = width- fixedWidthCol;
            $('#singleImageCol').width(newWidth);
        });
    </script>

    <div class="row  show-fade" id="photo" ng-show="!showAllPhotos" style="width: inherit; height:inherit; margin:0px !important;padding: 0px !important;">

        <table class="table clothingOuterTable" style="margin:0px;padding:0px">
            <tr>
                <td id="singleImageCol">
                    <h3 style="cursor: pointer;">
                        <a ng-click="showGallery()">Back</a>
                    </h3>
                    <div class="sizeOfEditedImage leftEditedImage">
                        <span id="itemPopUp"></span>
                        <img class="sizeOfEditedImage" id="itemPhoto"  src="[[select_image_url]]">
                    </div>
                 <!--    </div> -->
                </td>
                <td class="clothes-col">
                   <table class="table table-clothes">
                        <tr>
                            <th>Clothing</th>
                            <th>Brand</th>
                            <th>Price</th>
                        </tr>
                        <tr class="item-row" ng-click="viewItem($event)" ng-repeat="item in items" data-x1="[[item.x1]]" data-x2="[[item.x2]]" data-y1="[[item.y1]]" data-y2="[[item.y2]]" data-title="[[item.title]]">
                            <td>[[item.clothingType]]</td>
                            <td>[[item.brand]]</td>
                            <td>$[[item.price]]</td>
                        </tr>
                    </table>        
                </td>
            </tr>
        </table>


    </div>



