
{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="/static/style/gallery.css">
{% endblock %}


{% block js %}
    <script type="text/javascript" src="../js/gallery.js"></script>
{% endblock %}


{% block content %}

	<div class="row">
		<div class="col-xs-12 col-sm-9">
    		{% include "galleryPiece.html" %}
    	</div>
    	<div class="hidden-xs col-sm-3 right-panel" >
                <div class="row">
                    <div class="col-sm-12">
                       <span class="info">                   
                           <table class="table table-clothes">
                                <tr>
                                    <th>Clothing</th>
                                    <th>Brand</th>
                                    <th>Price</th>
                                </tr>
                                <tr class="item-row" ng-click="viewItem($event)" ng-repeat="item in items" data-x1="[[item.x1]]" data-x2="[[item.x2]]" data-y1="[[item.y1]]" data-y2="[[item.y2]]" data-width="item.width" data-height="item.height">
                                    <td>[[item.clothingType]]</td>
                                    <td>[[item.brand]]</td>
                                    <td>$[[item.price]]</td>
                                </tr>
                            </table>
                        </span>
                    </div>
                </div> 
    	</div>
    </div>


    <br>
    <br>

{% endblock %}