
{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/style/header.css">
{% endblock %}

<div class = "controller-fluid">
	<div class="row">
		<div class= "col-ms-10">
			<div id="title">
                Thrifty Clothes
			</div>
			<ul id="menu">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/gallery">Gallery</a>
				</li>
				<li>
					<a href="/profile">Profile</a>
				</li>
			</ul>
		</div>
        <div class= "col-ms-2">
            <a href="/userLog?method=newUser">Login/New User</a>
        </div>
	</div>
</div>
