{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/style/header.css">
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300' rel='stylesheet' type='text/css'>
{% endblock %}

<input type="hidden" name="user_id" value="{{user_id}}">


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="menu">
                <li><a href="/">HOME<span class="sr-only">(current)</span></a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/profile">PROFILE</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user">Login/New User</a></li>
<!--                <div class="row">{{message}}, {{user_id}}</div>-->
            </ul>
        </div>
    </div>
</nav>
