
<!-- 
    pop up image modal 
-->

<div class="modal fade modal-wide" id="Modal[[img.img_id]]" tabindex="-1" role="dialog" aria-labelledby="Modal[[img.img_id]]Label" ng-repeat="img in images"> <!-- START modal -->
  <div class="modal-dialog" role="document">    <!-- START modal-dialog -->
    <div class="modal-content">                 <!-- START modal-content -->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">[[img.title]]</h4>
        </div>
        <div class="modal-body">
         <div class="row equal-height-col">
            <div class="col-sm-1">
                <a class="glyphicon glyphicon-chevron-left"></a> 
            </div>
            <div class="col-sm-10">
                <img class="img-modal" src="[[img.image_url]]">
            </div>
            <div class="col-sm-1">
                <a class="glyphicon glyphicon-chevron-right"></a> 
            </div>
         </div>
        </div> <!-- END modal-body -->
        
        <div class="modal-footer">     
            <!-- Can only comment if logged in. !-->
            {% if user_id %}
<!--            <form method="post" enctype="multipart/form-data" action="/comment?image_id=[[img.img_id]]" id="form-comment">-->
            <form method="post" enctype="multipart/form-data" action="/comment?image_id=" id="form-comment">
                <div class="row cmt">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2 left-inner-cmt">
                    <a onclick="document.getElementById('form-comment').submit();" class="glyphicon glyphicon-pencil"></a>  
                </div> 
                <div class="col-sm-8" style="padding:0px;">
                    <input type="text" name="comment" class="commentSub" placeholder="Compliment here">  
                </div>
                <div class="col-sm-1"></div>
                </div>
            </form>
            {% endif %}
            <hr>
        </div> <!-- END modal-footer -->
    </div>  <!-- END modal-content -->
  </div>    <!-- END modal-dialog -->
</div>      <!-- END modal -->

