
<!-- 
    pop up image modal 
-->
<style>
    .eq-row {
        display: table;
    }
    .btn-xs{
        margin-right: 5px; 
        margin-bottom: 5px; 
        margin-top: 5px;
        background-color: rgba(119, 119, 119, 0.75);   
        color: white;
        border-radius: 0;
        box-shadow: none;
        outline: 0 none;
        border: none;
    }
    .btn-xs:focus, 
    .btn-xs:active, 
    .btn-xs:hover, 
    .btn-xs.active, 
    .btn-xs.active, 
    .open > .dropdown-toggle.btn-xs{
        background: rgba(119, 119, 119, 0.90);
        color: white;
        box-shadow: none;
        outline: 0 none;
        border: none;
    }

    .btn-xs:active:focus{
        background: black;
        color: white;
        box-shadow: none;
        outline: 0 none;
        border: none;
    }
    .eq-row .eq-col {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
    .btn-dark{
        background-color: rgba(0, 0, 0, 0.75);   
        color: white;
        border-radius: 0;
    }
    .btn-dark:focus, 
    .btn-dark:active, 
    .btn-dark:hover, 
    .btn-dark.active, 
    .btn-dark.active, 
    .open > .dropdown-toggle.btn-dark{
        background: rgba(0, 0, 0, 0.85);
        color: white;
        box-shadow: none;
        outline: 0 none;
    }

    .btn-dark:active:focus{
        background: black;
        color: white;
        box-shadow: none;
        outline: 0 none;
    }
</style>


<div class="modal fade modal-wide" id="Modal[[img.img_id]]" tabindex="-1" role="dialog" aria-labelledby="Modal[[img.img_id]]Label" ng-repeat="img in images"> <!-- START modal -->
  <div class="modal-dialog" role="document">    <!-- START modal-dialog -->
    <div class="modal-content">                 <!-- START modal-content -->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">[[img.title]](Uploaded By: [[img.uploaded_by]])</h4>
        </div>
        <div class="modal-body">
         <div class="row equal-height-col">
            <div class="col-sm-8 eq-col">
                <img class="img-modal" src="[[img.image_url]]">
            </div>
            <div class="col-sm-4 eq-col" style="margin-right: 15px; overflow: scroll">
               {% if user_id %}
                <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                        <p><strong>Tags: </strong></p>
                        <button class="btn btn-xs" ng-repeat="tag in img.tags">[[tag]]</button>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="padding:0px; overflow: hidden">
                        <input type="text" ng-model="comment" class="commentSub" placeholder="Compliment here" id="commentInput">  
                    </div>
                    <div class="col-sm-12" style="margin-top: 10px; padding:0px;">
                        <button type="button" class="btn btn-dark pull-left" ng-click="addComment($event,[[img.img_id]], comment)">Comment</button>
                    </div>
                </div>
                 {% endif %}
                 <div class="row" style="margin-top: 35px;background-color: rgba(255,255,255,.6)">
                    <div class="col-sm-12 commentSection" style="padding:0px">
                        <!-- START cmt -->
                        <div class="row cmt" ng-repeat="c in img.comments" style="border-bottom: 1px solid #A3ABAD; width: inherit; margin:0px;">
                            <table class="table">
                                <tr class="left-inner-cmt"><td>[[c.uploadedBy]]</td></tr>
                                <tr class="right-inner-cmt"><td>[[c.text]]</td></tr>
                            </table>
                        </div> 

                        <!-- END cmt -->  
                    </div>
                </div>
            </div>
         </div>
        </div> <!-- END modal-body -->
    </div>  <!-- END modal-content -->
  </div>    <!-- END modal-dialog -->
</div>      <!-- END modal -->

