{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="/static/style/index.css">
{% endblock %}


{% block js %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="jquery.mosaicflow.min.js"></script>
	<script src="/static/js/index.js"></script>
{% endblock %}


{% block content %}
<!-------------->
<!-- CAROUSEL -->
<!-------------->

<div class = "row">
        <div id="homeCarousel" class="carousel slide" data-interval = "3000" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/images/{{photo_name3}}" class="carousel_img">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Pitt in the Winter</h1>
                            <p>Check out our exclusive winter section uploads</p>
                            <p><a class="btn btn-lg btn-primary" href="/gallery">Check it Out!</a>
        </p></div>
      </div>
                </div>
                <div class="item">
                    <img src="/images/{{photo_name2}}" class="carousel_img">
                </div>
                <div class="item">
                    <img src="/images/{{photo_name}}" class="carousel_img">
                </div>
            </div>

          <!-- Controls -->
            <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-sm-12">
        <div class="clearfix mosaicflow" data-item-selector=".item" data-min-item-width="300">
        <div class="mosaicflow__item">
            <img width="50" height="30" src="/images/{{cow1}}" alt="">
        </div>
        <div class="mosaicflow__item">
            <img width="50" height="50" src="/images/{{cow2}}" alt="">
        </div>
</div>
    </div>
<!--
    <div class="col-sm-8">
        <div>
            <h4>Popular Outfit of the Week</h4>
            <div class="row">
                <div class="col-xs-3"><img src="/images/{{cow1}}" class="cow"></div>
                <div class="col-xs-3"><img src="/images/{{cow2}}" class="cow"></div>
                <div class="col-xs-3"><img src="/images/{{cow3}}" class="cow"></div>
                <div class="col-xs-3"><img src="/images/{{cow4}}" class="cow"></div>
            </div>
        </div>
        <br><hr>
        <div>
            <h4>Best Deal Outfit of the Week</h4>
            <div class="row">
                <div class="col-xs-3"><img src="/images/{{girl5}}" class="cow"></div>
                <div class="col-xs-3"><img src="/images/{{girl6}}" class="cow"></div>
                <div class="col-xs-3"><img src="/images/{{girl7}}" class="cow"></div>
                <div class="col-xs-3"><img src="/images/{{girl8}}" class="cow"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h4>Tips:</h4>
        <div class="panel panel-default">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class="sm-font">
                            Forever21 is having a sale!!!
                        </td>
                        <td class="text-right text-nowrap">
                            <span class="badge">2930
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="sm-font">
                            Banana Republic is having a sale!!!
                        </td>
                        <td class="text-right text-nowrap">
                            <span class="badge">1378
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="sm-font">
                            Save this couple to get 20% discount at Pitt Shop
                        </td>
                        <td class="text-right text-nowrap">
                            <span class="badge">407
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="sm-font">
                            Halloween costume sale happening in Cathedral!
                        </td>
                        <td class="text-right text-nowrap">
                            <span class="badge">36
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
-->
</div>
<br>
<br>
{% endblock %}