{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="/static/style/gallery.css">
{% endblock %}


{% block js %}
	<script src="/static/js/index.js"></script>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <form>
              <h3>Login</h3>
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email" name="un">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pw">
              </div>
              <button type="submit" class="btn btn-default">Login</button>
            </form>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <form>
              <h3>New User</h3>
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email" name="un">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pw">
              </div>
              <a href="/newUser" class="btn btn-default">Create New User</a>
            </form>
        </div>
        <div class="col-sm-1"></div>
    </div>
{% endblock %}