{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="/static/style/gallery.css">
{% endblock %}


{% block js %}
	<script src="/static/js/index.js"></script>
{% endblock %}


{% block content %}
    <h3>{{user}}</h3>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <form method="post" enctype="multipart/form-data" action="/userFunctions?method=login">
              <h3 style="color: black">Login</h3>
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email" name="un">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pw">
              </div>
              <button type="submit" class="btn btn-default">Login</button>
            </form>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <form method="post" enctype="multipart/form-data" action="/userFunctions?method=newUser">
              <h3 style="color: black">New User</h3>
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" placeholder="Email" name="un">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" placeholder="Password" name="pw">
              </div>
              <button type="submit" class="btn btn-default">Create New User</button>
            </form>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <h3>{{message}}</h3>
    </div>
{% endblock %}