{% extends "base.html" %}


{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/style/newUserSuccess.css">
{% endblock %}



{% block js %}
{% endblock %}


{% block content %}
    <div class="row center">
        <div class="col-sm-12">
            <h3>Welcome, your account has been successfully created! Now Please Login!</h3>
            <br>
            <p>
                <b><a class="linkToProfile" href="/user">Login page</a></b>
            </p>
        </div>
    </div>

{% endblock %}
