{% extends "base.html" %}


{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/style/profile.css">
	<link rel="stylesheet" href="/static/style/gallery.css">
	<link rel="stylesheet" type="text/css" href="/static/style/newUserSuccess.css">
{% endblock %}



{% block js %}
	<script src="/static/js/profile.js"></script>
	<script type="text/javascript" src="../js/gallery.js"></script>
{% endblock %}




{% block content %}
<span id="profilePage"></span>

{% if user %} 

<div class = "row" style="margin-top: 40px">
	<div class="col-sm-6">
        <h1 class="text-center" style="color: grey">{{user}}</h1>
        <div class='text-center'>
            <img src="{{profilePicURL}}" id = "propic">
        </div>
        <div class='text-center'>
            <br>
            <p>{{gender}}</p>
            <br>
                {{description}}
            <br>
            <a class="btn btn-default" href = "/updateprofile" role="button">Edit Profile</a>
        </div>
<!--
		<div class="row">
			<div class="text-center">
				<ul class="list-inline">
					 <li>
						<a class="btn btn-default btn-xs" href="#" role="button">Follow</a>
					</li>
					<li>
						<a class="btn btn-default btn-xs" href="#" role="button">Message</a>
					</li>
					if they are looking at their own profile, they will have option to edit 
					
					<li>
						<a class="btn btn-default" href = "/updateprofile" role="button">Edit Profile</a>
					</li>
					 <li>
						<a class="btn btn-default btn-xs" href = "/uploadPicsProfile" role="button" >Upload Photo</a>
					</li> 
				</ul>
			</div>
		</div>
-->
	</div>
	<div class="col-sm-5">
        <br><br>
        <div class="panel panel-default" ng-controller="profileController" ng-init="loadOption()">
            <div class="panel-heading">Image Upload</div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data" id="image_upload" action={{upload_url}}>
                    <div class="row">
                        <div class="col-sm-6">
                            Picture Title:<br>
                            <input name="title" type="text"><br><br>
                        </div>
                        <div class="col-sm-6">
                            File:<br>
                            <input name="file" type="file">
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Add Tags (Hold on to Ctrl to select multiple items)</p>
                            <select multiple="true" class="form-control" ng-model="selected" ng-options="c for c in categories"></select>
                            <input type="hidden" value="[[selected]]" name="selectedCategories">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="btn btn-default btn-md" ng-model="selected" type="submit" value="Upload Image">
                        </div>
                    </div>
                </form>
            </div>
        </div>
	</div>
</div>
	<div class = "row" style="margin-top: 80px;">
        <div class="col-sm-10 col-sm-offset-1">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home" id="login-tab">Gallery</a></li>
                    <li><a data-toggle="tab" href="#menu1" id="reg-tab">Adored</a></li>
                </ul>
                
                <div class="tab-content">
                    <!-- Log In -->
                    <div id="home" class="tab-pane fade in active">
                        <br>
                        {% include "galleryPiece.html" %}
                    </div>
                    
                    <!-- Register -->
                    <div id="menu1" class="tab-pane fade">

                    </div>
                </div>
		</div>
	</div>
    <br>
    <br>
{% else %}
<div class="row">
	<div class="text-center">
		<br><br><br>
		<h1> Please Login to view your profile page! :) </h1>
	</div>
	<div class="text-center">
		<a class="btn btn-default btn-xs" href="/user" role="button">Login/Register</a>
	</div>
		
</div>
{% endif %} 


{% endblock %}
