{% extends "base.html" %}


{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/style/profile.css">
	<link rel="stylesheet" href="/static/style/gallery.css">
{% endblock %}



{% block js %}
	<script src="/static/js/profile.js"></script>
	<script type="text/javascript" src="../js/gallery.js"></script>
{% endblock %}




{% block content %}
<span id="profilePage"></span>

{% if user %} 

<div class = "row">
	<div class="col-sm-7">
		<div class = "row">
			<br>
			<h1 class="text-center" style="color: grey">{{user}}</h1>
			<div class='text-center'>
				{% if user.profilepic %}
					<img src="/images/{{user.profilepic}}" id = "propic">
				{% else %}
					<img src="/images/profilePic.jpeg" class = "propic">
				{% endif %} 
			</div>
			<div class='text-center'>
				<br>
				{% if user.description %}
					{{user.description}}
				{% else %}
					Pas D'description <br><br>
				{% endif %} 
			</div>
		</div>
		<div class="row">
			<div class="text-center">

				<ul class="list-inline">
					<!-- <li>
						<a class="btn btn-default btn-xs" href="#" role="button">Follow</a>
					</li>
					<li>
						<a class="btn btn-default btn-xs" href="#" role="button">Message</a>
					</li>
					if they are looking at their own profile, they will have option to edit -->
					
					<li>
						<a class="btn btn-default btn-xs" href = "/updateprofile" role="button">Edit Profile</a>
					</li>
					<!-- <li>
						<a class="btn btn-default btn-xs" href = "/uploadPicsProfile" role="button" >Upload Photo</a>
					</li> -->
				</ul>

			</div>
		</div>
	</div>
	<div class="col-sm-5">
		<br><br><br>
		<form method="post" enctype="multipart/form-data" action="{{upload_url}}">
	        Picture Title:<br>
	        <input name="title" type="text"><br><br>
	        
	        Price Range: <br>
	        <select name="priceRange">
	            {% for priceOption in priceOptions %}
	                <option value="{{priceOption}}">{{priceOption}}</option>
	            {% endfor %}
	        </select>
	        <br><br>
	        
	        Type of Clothing: <br>
	        <select name="clothingType">
	            {% for type in types %}
	                <option value="{{type}}">{{type}}</option>
	            {% endfor %}
	        </select>
	        <br><br>
	        
	        Brand: <br>
	        <select name="brand">
	            {% for brand in brands %}
	                <option value="{{brand}}">{{brand}}</option>
	            {% endfor %}
	        </select>
	        <br><br>
	        
	        File:<br>
	        <input name="file" type="file"><br><br><br>
	        <input class="btn btn-default btn-md" type="submit">
	        
	    </form>
	</div>
</div>
	<div class = "row">
		<h1 class="text-center">Personal Gallery</h1>
	</div>

	<div class = "row">
		<div  class="col-sm-10 col-sm-offset-1">
		    {% include "galleryPiece.html" %}
		</div>
	</div>
{% else %}
<div class="row">
	<div class="text-center">
		<br><br><br>
		<h1> Please Login to view your profile page! :) </h1>
	</div>
	<div class="text-center">
		<a class="btn btn-default btn-xs" href="/user" role="button">Login/Register</a>
	</div>
		
</div>
{% endif %} 


{% endblock %}
