{% extends "base.html" %}


{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/style/profile.css">
{% endblock %}



{% block js %}
	<script src="/static/js/profile.js"></script>
{% endblock %}


{% block content %}
<div  style="margin-top: 50px">
    <div class='col-sm-3 col-sm-offset-4'>
		<form method="post" enctype="multipart/form-data" action="{{upload_url}}">
       		<br><br>
	        Name:<br>
	        <input name="title" placeholder="{{user}}" type="text"><br><br>
	        <br>
	        Description:<br>
	        <textarea id="description "name="title" placeholder="Enter Profile Description" type="text" rows="5" > {{description}} </textarea><br><br>
	        <br>

	        New Profile Pic:<br>
	        <input name="file" type="file"><br><br><br>
	        <input class="btn btn-default btn-md" type="submit">
		        
	    </form>
	</div>
	<div class='col-sm-3'>
		<br><br>
		<img src="/images/updateprofile.png" class = "update_girl">
	</div>
</div>
	


{% endblock %}
